body {
    margin: 0;
    padding: 0;
    background-color: #2f3241;
    background-image: url('../src/img/about.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;
    color: white;
    text-align: left;
    text-shadow: 0 0 10px rgb(83, 101, 204);
    margin-left: 80px; 
}

p.description {
    color: white;
    text-shadow: 0 0 5px rgb(83, 101, 204);
    font-size: 30px;
    font-weight: bold; 
    margin-top: 0px;
    margin-left: 80px;
}