body {
    margin: 0;
    padding: 0;
    background-color: #2f3241;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgb(83, 101, 204);
}

.gallery {
    margin: 20px;
    margin-left: 39px;
    float: left;
    width: 250px;
}

.gallery img {
    width: 250px;
    height: 250px;
    margin-bottom: 0px;
    border-radius: 50%; 
    border: 3px solid white;
    transition: all 0.3s ease;
}

.gallery img:hover {
    border: 3px solid rgb(255, 0, 98);
}
  
.artname {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    font-style: bold;
    font-size: 22px;
    color: white;
    background: transparent;
}