body {
    margin: 0;
    padding: 0;
    background-color: #2f3241;
    font-family: 'Montserrat', sans-serif;
}

.menubar {
    height: 60px;
    width: 100%;
    background: #252941;
    box-shadow: 0 0 10px #666666;
}

.menubar ul.menu {
    margin: 0;
    font-size: 28px;
}

.menubar ul.menu li {
    margin-top: 12px; 
    margin-left: 30px; 
    list-style: none;
    float: left;
}

.menubar ul.menu li a {
    text-decoration: None;
    color: white;
    border-bottom: 1px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}

.menubar ul.menu li a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 0;
}

.menubar ul.logOn {
    margin: 0;
    font-size: 28px;
}

.menubar ul.logOn li {
    margin-top: 4px;
    margin-right: 70px; 
    list-style: none;
    float: right; 
}

.logbtn {
    text-decoration: None;
    font-weight: bold;
    font-size: 28px;
    color: white;
    background: rgb(255, 0, 98);
    padding: 8px;
    transition: all 0.3s ease;
}

.logbtn:hover {
    background: rgb(5, 196, 47);
}


.dropbtn {
    background-color: rgb(255, 0, 98);
    color: white;
    padding: 8px;
    margin-top: 4px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 3%;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 80px;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: auto;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    font-size: 18px;
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: rgb(227, 255, 103);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(15, 79, 255);
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px; 
}

h2 {
    text-align: center;
    color: white;
    font-size: 32px;
}

hr {
    width: 96%;
    box-shadow: 0 0 10px #666666;
}

.detail {
    color: white;
    margin-left: 80px;
    font-size: 28px;
    text-decoration: none;
}

.cols {
    margin-top: 0px; 
    margin-left: 80px;
    margin-bottom: 8px; 
    list-style: none;
    float: left;
    width: 200px;
    height: auto;
}

.coln {
    list-style: none;
    float: left;
    width: 720px;
    height: auto;
}

.dveri {
    list-style: none;
    padding: 3px;
    float: left;
    width: 165px;
    height: auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    background: gray;
}

.veri {
    list-style: none;
    padding: 3px;
    float: left;
    width: 165px;
    height: auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    background: green;
}

.nveri {
    list-style: none;
    padding: 3px;
    float: left;
    width: 165px;
    height: auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    background: red;
}