body {
    margin: 0;
    padding: 0;
    background-color: #2f3241;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

h1 {
    text-align: left;
    color: white;
    font-size: 40px;
    margin-left: 80px; 
}

.content {
    list-style: none;
    float: left;
    margin-top: -30px;
    margin-left: 40px; 
}

.profileBox {
    width: 500px;
    height: 250px;
    font-size: 18px;
    border: 5px solid #252941;
    border-radius: 10px; 
}

.to1 {
    color: white;
}

.to2 {
    color: white;
    display: inline;
    margin: 0px;
    float: left;
}

.to3 {
    color: white;
    text-align: center;
}

.priceBox {
    width: 230px;
    height: 35px;
    font-size: 18px;
    border: 5px solid #252941;
    border-radius: 10px; 
    margin-left: 20px;
    float: left;
}

.pic {
    max-width: 250px;
    border: 3px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.galpic {
    float: left;
    width: 550px;
}

p {
    color: white;
    text-align: center;
}

.bfile {
    text-align: center;
    color: white;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.b1{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 140px;
    margin-left: 30px;
}

button.b1:hover {background-color: #3e8e41}

button.b1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.b2{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(175, 76, 76);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 140px;
    margin-left: 30px;
}

button.b2:hover {background-color: #8e3e3e}

button.b2:active {
  background-color: #8e3e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.butt {
    list-style: none;
    float: left;
    margin-top: -20px; 
    margin-left: 100px; 
}

.butt li {
    float: left;
}