body {
    margin: 0;
    padding: 0;
    background-color: #2f3241;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    overflow: hidden;
}

.headline {
    font-size: 48px;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 0px;
    text-shadow: 0 0 10px rgb(83, 101, 204);
}

.topic {
    color: white;
    text-align: center;
    font-style: normal;
    text-shadow: 0 0 5px rgb(83, 101, 204);
}

.searchbar {
    text-align: center;
    margin-top: 0; 
}

.sb {
    border-radius:  5px;
    font-size: 16px;
}

.sbtt {
    border-radius:  5px;
    font-size: 16px;
    margin-left: 10px;
    background-color: rgb(168, 168, 168);
    transition: all 0.3s ease;
}

.sbtt:hover {
    background-color: ghostwhite;
}

input {
    text-align: center;
}

.cover-container {
    margin: 0;
}

.cover-container ul {
    margin-left: 10px;
}

.cover-container ul li {
    list-style: none;
    float: left;
}

.cover-container ul li a{
    text-decoration: none;
}

.cover {
    margin: 0;
    max-width: 215px;
    height: auto;
    text-align: center;
    text-shadow: 0 0 5px rgb(71, 84, 155);
    color: white;
    padding: 10px;
    transition: all 0.5s ease;
}

.cover:hover {
    margin: 0;
    max-width: 245px;
    padding: 0px;
    height: auto;
}