body {
    margin: 0;
    padding: 0;
    background-color: #2f3241;
    background-image: url('../src/img/LoginBG.jpg');
    background-repeat: no-repeat; 
    background-size: 80%;
    background-position-x: 40px; 
    background-position-y: 55px; 
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.box-container {
    margin: 0;
    float: right;
    margin-right: 60px; 
    text-align: center;
    border-radius: 3%;
    width: 1000px;
}

.box {
    text-align: center;
    font-size: 24px;
    border-radius: 5px; 
}

.formBox {
    margin-top: 150px;
    margin-left: 700px;
}

h2 {
    color: white;
}

.butt {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgb(255, 0, 98);
    padding:5px 15px; 
    border: 2px solid white;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    transition: all 0.3s ease;
}

.butt:hover {
    background: rgb(11, 27, 255);
}

h1 {
    color: white;
    font-size: 40px;
    margin-top: 380px;
    margin-left: 40px; 
}

h2.des {
    color: white;
    margin-left: 80px;
    margin-top: -15px; 
}