body {
    margin: 0;
    padding: 0;
    background-color: #2f3241;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 32px;
}

hr {
    width: 96%;
    box-shadow: 0 0 10px #666666;
}

.detail {
    color: white;
    margin-left: 80px;
    font-size: 28px;
    text-decoration: none;
}

.cols {
    margin-top: 0px; 
    margin-left: 80px;
    margin-bottom: 8px; 
    list-style: none;
    float: left;
    width: 200px;
    height: auto;
}

.coln {
    list-style: none;
    float: left;
    width: 720px;
    height: auto;
}

.dveri {
    list-style: none;
    padding: 3px;
    float: left;
    width: 165px;
    height: auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    background: gray;
}

.veri {
    list-style: none;
    padding: 3px;
    float: left;
    width: 165px;
    height: auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    background: green;
}

.nveri {
    list-style: none;
    padding: 3px;
    float: left;
    width: 165px;
    height: auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    background: red;
}